data/repos/*
data/indexes/*
repopilot.egg-info
*/__pycache__/*
src/repopilot/multilspy/language_servers/rust_analyzer/static
src/repopilot/multilspy/language_servers/eclipse_jdtls/static
src/repopilot/tree-sitter
.zoekt_tmp/