data/repos/*
data/indexes/*
repopilot.egg-info
*/__pycache__/*
**/*.pyc
**/__pycache__/*
**/__pycache__/
src/repopilot/multilspy/language_servers/rust_analyzer/static
src/repopilot/multilspy/language_servers/eclipse_jdtls/static
src/repopilot/tree-sitter
evaluation_benchmark/bug_reproduction/defects4j/*
evaluation_benchmark/bug_reproduction/Defects4J/gen_tests/*
evaluation_benchmark/bug_reproduction/Defects4J/repos/*
evaluation_benchmark/SWE_bench/data/*
.zoekt_tmp/
dist/*
wandb/
model/
data/
data/repos/*
data/agent_trajectories/*
.vscode/*
swe_bench.zip
.aider*
.cache/*
.history/*