altair==5.4.1
annotated-types==0.7.0
anthropic==0.31.2
anyio==4.4.0
argcomplete==3.5.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
autopep8==1.4.0
av==11.0.0
backports.tarfile==1.2.0
blessed==1.20.0
blinker==1.8.2
blobfile==2.1.1
build==1.2.1
cachetools==5.5.0
Cartopy==0.23.0
cattrs==23.2.3
certifi==2024.7.4
cffi==1.16.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.1.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cmake==3.30.0
codetext==0.0.9
colorlog==6.8.2
cycler==0.12.1
dataclasses==0.6
dataclasses-json==0.6.7
datasets==2.20.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.3.8
distro==1.9.0
dnspython==2.6.1
docker==7.1.0
docopt==0.6.2
docstring-to-markdown==0.15
docstring_parser==0.16
docutils==0.21.2
e2b==0.17.2a59
e2b-code-interpreter==0.0.11a37
fastapi==0.111.0
fastapi-cli==0.0.4
fastcore==1.6.8
fastjsonschema==2.20.0
filelock==3.15.4
flake8==6.0.0
flake8-copyright==0.2.4
FLAML==2.1.2
Flask==3.0.3
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.5.0
geopy==2.4.1
gevent==24.2.1
ghapi==1.0.5
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.0.3
groq==0.9.0
gymnasium==0.29.1
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.4
identify==2.6.0
idna==3.7
importlib_metadata==8.0.0
importlib_resources==6.4.3
iniconfig==2.0.0
interegular==0.3.3
ipykernel==6.29.5
ipython==8.18.1
isort==5.13.2
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jedi==0.19.1
jedi-language-server==0.41.4
jeepney==0.8.0
Jinja2==3.1.4
jiter==0.5.0
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
keyring==25.2.1
kiwisolver==1.4.7
langchain==0.2.16
langchain-anthropic==0.1.19
langchain-community==0.2.16
langchain-core==0.2.39
langchain-experimental==0.0.62
langchain-openai==0.1.24
langchain-text-splitters==0.2.2
lark==1.1.9
Levenshtein==0.25.1
llama-parse==0.5.1
llvmlite==0.43.0
lm-format-enforcer==0.10.3
lsprotocol==2023.0.1
lxml==4.9.4
mapclassify==2.8.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.18.0
marshmallow-dataclass==8.5.14
mccabe==0.7.0
mdurl==0.1.2
mercantile==1.2.1
minijinja==2.2.0
more-itertools==10.3.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
mypy==1.8.0
mypy-extensions==1.0.0
narwhals==1.7.0
nbclient==0.10.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nh3==0.2.18
nltk==3.9.1
nodeenv==1.9.1
nox==2024.4.15
numpy==1.26.4
oauthlib==3.2.2
omegaconf==2.4.0.dev3
openai==1.43.0
orjson==3.10.6
outlines==0.0.46
packaging==24.1
parso==0.8.4
pathspec==0.12.1
pbr==6.0.0
peft==0.12.0
pexpect==4.9.0
pillow==10.4.0
pillow_heif==0.16.0
pkginfo==1.10.0
pluggy==1.5.0
pre-commit==3.8.0
protobuf==3.20.0
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyairports==2.1.1
pyarrow==16.1.0
pyarrow-hotfix==0.6
pycodestyle==2.10.0
pycountry==24.6.1
pycparser==2.22
pycryptodomex==3.20.0
pydantic==2.7.4
pydantic-settings==2.5.2
pydantic_core==2.18.4
pydeck==0.9.1
pyflakes==3.0.1
pygls==1.3.1
Pygments==2.18.0
PyJWT==2.6.0
pyogrio==0.9.0
pyparsing==3.1.4
pypdf==4.3.1
pyproj==3.6.1
pyproject_hooks==1.1.0
pyshp==2.3.1
pytest==8.3.2
pytest-benchmark==4.0.0
pytube==15.0.0
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
rapidfuzz==3.9.4
rasterio==1.3.11
ray==2.31.0
read-version==0.3.2
readme_renderer==44.0
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
requests-toolbelt==1.0.0
rich==12.5.1
shapely==2.0.6
shellingham==1.5.4
SQLAlchemy==2.0.31
striprtf==0.0.26
-e git+https://github.com/princeton-nlp/SWE-bench@c2b3cefd4a5af0b248966a773650a39046072975#egg=swebench
tabulate==0.9.0
termcolor==2.4.0
tiktoken==0.7.0
together==1.2.7
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
tornado==6.4.1
towncrier==24.7.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.44.2
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
triton==3.0.0
trl==0.8.6
twine==5.1.1
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tyro==0.8.8
tzdata==2024.1
ujson==5.10.0
unidiff==0.7.5
urllib3==2.2.2
uvicorn==0.30.1
uvloop==0.19.0
vllm==0.5.4
vllm-flash-attn==2.6.1
vllm_nccl_cu12==2.18.1.0.4.0
voyageai==0.2.3
watchdog==4.0.2
watchfiles==0.22.0
wcwidth==0.2.13
websocket==0.2.1
websockets==12.0
Werkzeug==3.0.4
wrapt==1.16.0
xformers==0.0.27.post2
xxhash==3.4.1
xyzservices==2024.9.0
yamllint==1.35.1
yarl==1.9.4
zipp==3.19.2
zmq==0.0.0
zope.event==5.0
zope.interface==6.4.post2
pyautogen==0.3.0